body {
    margin: 0;
    background: linear-gradient(white, #D3D8E8);
           
           padding: 0%;
}

.top {
    margin: 0;
  
  height: 300px;
  position: relative;
  animation: animation-bg 2s 1s infinite alternate backwards;}


  @keyframes animation-bg
  {
      from {background-color:purple ;}
      to {background-color:rgb(55, 3, 122);}
  }


.top-left {
    color:white;
    text-align: center;
    padding: 70px;
    font-size: 80px;
    letter-spacing: 8px;
    font-weight: 900;
    position: relative;
    animation: text 3s infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-delay: 1s;
padding-top: 100px;}

@keyframes text {
    0%{
        letter-spacing: normal;
    }
    30%{
        letter-spacing: 10px;
   
    }
    55%{
        letter-spacing: 6px;
    }
   }
   .container {
       margin-top: 20px;
       margin-bottom: 50px;
   }

   .container .main-left {
       margin-top: 150px;
   }

  
.container img {
    width: 600px;
    
    padding: 60px;
    margin-right:10% ;
}
.container .about-me {
    margin-top: 150px;
}
.container .about-me-img img {
    width: 600px;
}
.my-work img {
    width: 480px;
}

.middle1-button {
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    color: #fff;
    background-image: linear-gradient(to right,purple 0%,#854fee 100%
    );
    box-shadow: 0 10px 3px rgba(118, 85,225, .3);
    margin-bottom: 200px;
}


.one-third {
    text-align: center;
    margin-top: 10%;
    font-size: 20px;
    color: rebeccapurple;
   
   
}
.link-button {
    text-decoration: none;
    background-color: sandybrown;
    padding: 8px 15px;
    width: 30px;
    border-radius: 5px;
    font-size: 40px;
    margin-left: 50px;
    margin-bottom: 2%px;
    color: white;
    
   
}

    

    .para {
        margin-top: 30px;

        margin-left: 60px;}
        
        .middle2-img img {
            width: 50%;
        }
        .one-third3 {
            width: 30%;
            float: right;
            margin-right: 10%;
            text-align: center;
           margin-top: 10%;
            font-size: 30px;
        }
.workhead {
    color: white;
    background-image: linear-gradient(#8d98e3, #854fee);
   
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
}
.workhead h1 {
    animation: leftright 2s linear infinite;
    animation-direction: alternate;
}

@keyframes leftright {
    from{
        padding-left: 50px;
    }
    to{padding-right: 50px;}
}

@media only screen and (max-width:768px){
    .container img {
        width: 300px;
        position: absolute;
        top: -380px;
        left: 250px;
    }
    .link-button {
        
        padding: 4px 8px;
        width: 20px;
    
        margin-left: 20px;
        margin-bottom: 2px;
        color: white;
        font-size: 20px;
        
       
    }
    .container h5 {
        font-size: 15px;
       position: relative;
       right: 40px;
    
    }
    
    .about-me h5 {
        margin-top: 10px;
        font-size: 15px;
       left: 12px; 
    }
    .about-me .about-me-img img {
        width: 400px;
        top: 200px;
        left: 150px;
       
      
    }
    .my-work img{
        position: relative;
        width: 400px;
        top: 70px;
        left: 20px;

    }
     .thnx-img img {
        position: relative;
        top: 80px;
        left: 10px;
       
        width: 500px;

    }
    .middle1-button {
       
        padding: 4px 14px;
        font-size: 14px;
      
       
    }
    .thnx-img a {
        position: relative;
        left: 180px;
    }
    

}


